body{
    font-family: 'Roboto', sans-serif;
    background-color: #FFFFFF;
    font-size: 14px
    letter-spacing: 0.03em;
    --portfolio-button-text: #FFFFFF;
    --portfolio-bg-color: #2196F3;
    --primary-white-color:#FFFFFF;
    --primary-whiteblack-color:#212121;
    --primary-gray-color:#757575;
    --primary-vanila-color:#EEEEEE;
    --primary-black-color:#000000;
    --primary-vanilawhite-color:#F5F4FA;
    --primary-blackwhite-color:#2F303A;
    --primary--grey-color:#ECECEC
}
.list{
    list-style: none;
}

.visually-hidden{
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}
/* Studio */
/* headernav */
.webstudiofut{
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    text-decoration: none;
}
.webstudio{
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: #000000;
    text-decoration: none;
}

.web{
    color: #2196F3;
    text-decoration: none;    
}
.nav-header{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #212121;  
    text-decoration: none;
}

.nav-header:hover,
.nav-header:focus{
    color: #2196F3;
}
.current{
    color: #2196F3;
}
.nav-contact{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #757575;
    text-decoration: none;
    font-style: normal;
}
.nav-contact:hover,
.nav-contact:focus{
    color:#2196F3;
}
/* head section */
.head-section{
    background-color: #2F303A;
}
.head-title{
    font-family: 'Roboto' sans-serif;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color:#FFFFFF
}
.button-head{
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
    background-color: #2196F3;
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    cursor: pointer
}
/* main section */
.title-main-section{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #212121;
}
.parag-main-section{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #757575;
}
/* what we do */
.wedo-section{
    font-family: 'Roboto',sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
}
/* our team */
.ourteam{
    background-color: #F5F4FA;
}
.team-name-section{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
}
.team-name{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
}
.team-name-parag{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: #757575;
}
/* footer */
.footer-section{
    background-color: #2F303A;
}
.address-studio{
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    text-decoration: none;
    font-style: normal;
    color: #FFFFFF;
    font-style: normal;
}
.address-studio:hover,
.address-studio:focus{
    color: #2196F3;
}

.footer-contact{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
    font-style: normal;
}
.footer-contact:hover,
.footer-contact:focus{
    color: #2196F3;
}

/* portfolio */
/* header */

.portfolio-nav{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #212121;
    text-decoration: none;
}
.portfolio-nav:hover,
.portfolio-nav:focus{
     color: #2196F3;
}
.current {
    color: #2196F3;
}
.portfolio-contact{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #757575;
    text-decoration: none;
    font-style: normal;
}
.portfolio-contact:hover,
.portfolio-contact:focus{
    color: #2196F3;
}
.portfolio-button{
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    border-radius: 4px;
    border: none;
    background-color: #F5F4FA;
    cursor: pointer

}
.portfolio-button:hover,
.portfolio-button:focus {
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    color: var(--portfolio-button-text);
    background-color: var(--portfolio-bg-color) 
}
/* portfolio img */
.portfolio-img-name{
    font-family: 'Roboto'sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: #212121;
}
.portfolio-img-parag{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
    color:#757575;
}
/* footer portfolio */
.footer-portfolio{
    background-color: #2F303A;
}
.adress-portfolio{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    text-decoration: none;
    font-style: normal;
}
.adress-portfolio:hover,
.adress-portfolio:focus{
    color: #2196F3;
}
.portfolio-contactfut{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
    font-style: normal;
}
.portfolio-contactfut:hover,
.portfolio-contactfut:focus{
    color: #2196F3;
}