.benefits {
    padding: 60px 0;
    @media screen and (min-width: 1200px) {
        padding: 94px 0;
    }
}

.benefits-list {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}
.list-benefits-index{
    width: 100%;
    @media screen and (min-width: 768px) {
        width: calc((100% - 30px) / 2);
    }
    @media screen and (min-width: 1200px) {
        width: calc((100% - 90px) / 4);
    }
}

.test-item-ref {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 55px;
    background-color: rgba(245, 244, 250, 1);
    width: 100%;
    height: 120px;
    border-radius: 4px;

}

.title-main-section {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-align: center;
    color: #212121;
}

.parag-main-section {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #757575;
    margin-top: 10px;
}

/* what we do */
.we-do-title {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    margin-bottom: 50px;
    display: none;
    @media screen and (min-width: 1200px) {
      display: block;  
    }
}

.wedo-list {
    display: none;
    gap: 30px;
    @media screen and (min-width: 1200px) {
        display: flex;
}
}

.we-do-section {
    display: none;
    @media screen and (min-width: 1200px){
     padding-bottom: 94px;   
    }
}

.we-do-container {
    position: relative;
}

.we-do-text {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
    position: absolute;
    bottom: 0;
    background: rgba(47, 48, 58, 0.8);
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}