.ourteam {
    background-color: #F5F4FA;
    padding: 60px 0;
    @media screen and (min-width: 1200px) {
        padding: 94px 0;
    }
}

.team-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.ourteam-index-box {
    background: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    width: 100%;
    @media screen and (min-width: 768px) {
        width: calc((100% - 30px) / 2);
    }
    
    @media screen and (min-width: 1200px) {
        width: calc((100% - 90px) / 4);
    }
}

.team-name-section {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    margin-bottom: 50px;
}

.team-name {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
}

.team-name-parag {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: #757575;
    margin-top: 10px;
    margin-bottom: 16px;
}

.cont-team-name {
    padding-top: 30px;
    padding-bottom: 30px;
}

.index-soc-item {
    width: 44px;
    height: 44px;
}

.index-soc-link {
    width: 100%;
    height: 100%;
    fill: rgba(175, 177, 184, 1);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color var(--transition-main), fill var(--transition-main);
    &:hover,
    &:focus {
    background-color: #2196F3;
    fill: #FFFFFF;
}
}

.index-soc-list {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;

}

/* our clients */
.our-clients {
padding: 60px 0;
    @media screen and (min-width: 1200px) {
        padding: 94px 0;
    }
}

.clients-title {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    padding-bottom: 50px;
}

.clients-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    flex-wrap: wrap;
}

.clients-item {
    width: 100%;
    @media screen and (min-width: 480px) {
        width: calc((100% - 30px) / 2);
    }
    @media screen and (min-width: 768px) {
        width: calc((100% - 60px) / 3);
    }
    @media screen and (min-width: 1200px) {
        width: calc((100% - 150px) / 6);
    }
}

.clients-link {
    width: 170px;
    height: 92px;
    border: 1px solid currentColor;
    color: #AFB1B8;
    border-radius: 4px;
    justify-content: center;
    align-items: center;
    display: flex;
    cursor: pointer;
    transition: color var(--transition-main), fill var(--transition-main);
    &:hover,
    &:focus {
    color: #2196F3;
    fill: #2196F3;
}
}

.clients-icon {
    fill: currentColor;

}

